html {
  padding-top: 10%;
  padding-left: 50%;
  cursor: url("../img/Frame_small.svg") 25 25, auto;
}

.mycursor {
  cursor: url("../img/Frame_Big.svg") 50 50, auto;
}

.no-webp .union {
  background: -o-linear-gradient(318.71deg, rgba(225, 255, 244, 0.3) 1.1%, rgba(20, 54, 41, 0) 108.32%), -o-radial-gradient(46.83% 18.92%, 32.42% 32.42%, rgba(255, 255, 255, 0.147) 0%, rgba(100, 117, 110, 0) 100%) , -o-linear-gradient(bottom, rgba(68, 104, 90, 0.44), rgba(68, 104, 90, 0.44)), url(depositphotos_42701011-stock-photo-frosted-glass-texture.jpg); }

.no-webp .union {
  background: linear-gradient(131.29deg, rgba(225, 255, 244, 0.3) 1.1%, rgba(20, 54, 41, 0) 108.32%), radial-gradient(32.42% 32.42% at 46.83% 18.92%, rgba(255, 255, 255, 0.147) 0%, rgba(100, 117, 110, 0) 100%) , linear-gradient(0deg, rgba(68, 104, 90, 0.44), rgba(68, 104, 90, 0.44)), url(depositphotos_42701011-stock-photo-frosted-glass-texture.jpg); }

.union {
  position: absolute;
  width: 282.76px;
  height: 282.76px;
  left: 231px;
  top: 57.26px;
  background-blend-mode: normal, normal, normal, multiply;
  -webkit-box-shadow: 8px 24px 60px rgba(21, 53, 30, 0.1), inset 2.29395px 2.29395px 2.29395px rgba(73, 100, 87, 0.05);
          box-shadow: 8px 24px 60px rgba(21, 53, 30, 0.1), inset 2.29395px 2.29395px 2.29395px rgba(73, 100, 87, 0.05);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  border-radius: 100%;
  -webkit-transform: rotate(-20.99deg);
      -ms-transform: rotate(-20.99deg);
          transform: rotate(-20.99deg);
}

.no-webp .union_2 {
  background: -o-linear-gradient(318.71deg, rgba(225, 255, 244, 0.3) 1.1%, rgba(20, 54, 41, 0) 108.32%), -o-radial-gradient(46.83% 18.92%, 32.42% 32.42%, rgba(255, 255, 255, 0.147) 0%, rgba(100, 117, 110, 0) 100%) , -o-linear-gradient(bottom, rgba(68, 104, 90, 0.44), rgba(68, 104, 90, 0.44)), url(depositphotos_42701011-stock-photo-frosted-glass-texture.jpg); }

.no-webp .union_2 {
  background: linear-gradient(131.29deg, rgba(225, 255, 244, 0.3) 1.1%, rgba(20, 54, 41, 0) 108.32%), radial-gradient(32.42% 32.42% at 46.83% 18.92%, rgba(255, 255, 255, 0.147) 0%, rgba(100, 117, 110, 0) 100%) , linear-gradient(0deg, rgba(68, 104, 90, 0.44), rgba(68, 104, 90, 0.44)), url(depositphotos_42701011-stock-photo-frosted-glass-texture.jpg); }

.union_2 {
  position: absolute;
  width: 330.66px;
  height: 330.66px;
  left: 1052px;
  top: 684.42px;
  background-blend-mode: normal, normal, normal, multiply;
  -webkit-box-shadow: 8px 24px 60px rgba(21, 53, 30, 0.1), inset 2.29395px 2.29395px 2.29395px rgba(73, 100, 87, 0.05);
          box-shadow: 8px 24px 60px rgba(21, 53, 30, 0.1), inset 2.29395px 2.29395px 2.29395px rgba(73, 100, 87, 0.05);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 100%;
  -webkit-transform: rotate(-20.99deg);
      -ms-transform: rotate(-20.99deg);
          transform: rotate(-20.99deg);
}

.no-webp .union_3 {
  background: -o-linear-gradient(318.71deg, rgba(225, 255, 244, 0.3) 1.1%, rgba(20, 54, 41, 0) 108.32%), -o-radial-gradient(46.83% 18.92%, 32.42% 32.42%, rgba(255, 255, 255, 0.147) 0%, rgba(100, 117, 110, 0) 100%) , -o-linear-gradient(bottom, rgba(68, 104, 90, 0.44), rgba(68, 104, 90, 0.44)), url(depositphotos_42701011-stock-photo-frosted-glass-texture.jpg); }

.no-webp .union_3 {
  background: linear-gradient(131.29deg, rgba(225, 255, 244, 0.3) 1.1%, rgba(20, 54, 41, 0) 108.32%), radial-gradient(32.42% 32.42% at 46.83% 18.92%, rgba(255, 255, 255, 0.147) 0%, rgba(100, 117, 110, 0) 100%) , linear-gradient(0deg, rgba(68, 104, 90, 0.44), rgba(68, 104, 90, 0.44)), url(depositphotos_42701011-stock-photo-frosted-glass-texture.jpg); }

.union_3 {
  position: absolute;
  width: 222.85px;
  height: 222.85px;
  left: -2px;
  top: 696.81px;
  background-blend-mode: normal, normal, normal, multiply;
  -webkit-box-shadow: 8px 24px 60px rgba(21, 53, 30, 0.1), inset 2.29395px 2.29395px 2.29395px rgba(73, 100, 87, 0.05);
          box-shadow: 8px 24px 60px rgba(21, 53, 30, 0.1), inset 2.29395px 2.29395px 2.29395px rgba(73, 100, 87, 0.05);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 100%;
  -webkit-transform: rotate(-20.99deg);
      -ms-transform: rotate(-20.99deg);
          transform: rotate(-20.99deg);
}

.webp .union { background: -o-linear-gradient(318.71deg, rgba(225, 255, 244, 0.3) 1.1%, rgba(20, 54, 41, 0) 108.32%), -o-radial-gradient(46.83% 18.92%, 32.42% 32.42%, rgba(255, 255, 255, 0.147) 0%, rgba(100, 117, 110, 0) 100%) , -o-linear-gradient(bottom, rgba(68, 104, 90, 0.44), rgba(68, 104, 90, 0.44)), url(depositphotos_42701011-stock-photo-frosted-glass-texture.webp); }

.webp .union { background: linear-gradient(131.29deg, rgba(225, 255, 244, 0.3) 1.1%, rgba(20, 54, 41, 0) 108.32%), radial-gradient(32.42% 32.42% at 46.83% 18.92%, rgba(255, 255, 255, 0.147) 0%, rgba(100, 117, 110, 0) 100%) , linear-gradient(0deg, rgba(68, 104, 90, 0.44), rgba(68, 104, 90, 0.44)), url(depositphotos_42701011-stock-photo-frosted-glass-texture.webp); }

.webp .union_2 { background: -o-linear-gradient(318.71deg, rgba(225, 255, 244, 0.3) 1.1%, rgba(20, 54, 41, 0) 108.32%), -o-radial-gradient(46.83% 18.92%, 32.42% 32.42%, rgba(255, 255, 255, 0.147) 0%, rgba(100, 117, 110, 0) 100%) , -o-linear-gradient(bottom, rgba(68, 104, 90, 0.44), rgba(68, 104, 90, 0.44)), url(depositphotos_42701011-stock-photo-frosted-glass-texture.webp); }

.webp .union_2 { background: linear-gradient(131.29deg, rgba(225, 255, 244, 0.3) 1.1%, rgba(20, 54, 41, 0) 108.32%), radial-gradient(32.42% 32.42% at 46.83% 18.92%, rgba(255, 255, 255, 0.147) 0%, rgba(100, 117, 110, 0) 100%) , linear-gradient(0deg, rgba(68, 104, 90, 0.44), rgba(68, 104, 90, 0.44)), url(depositphotos_42701011-stock-photo-frosted-glass-texture.webp); }

.webp .union_3 { background: -o-linear-gradient(318.71deg, rgba(225, 255, 244, 0.3) 1.1%, rgba(20, 54, 41, 0) 108.32%), -o-radial-gradient(46.83% 18.92%, 32.42% 32.42%, rgba(255, 255, 255, 0.147) 0%, rgba(100, 117, 110, 0) 100%) , -o-linear-gradient(bottom, rgba(68, 104, 90, 0.44), rgba(68, 104, 90, 0.44)), url(depositphotos_42701011-stock-photo-frosted-glass-texture.webp); }

.webp .union_3 { background: linear-gradient(131.29deg, rgba(225, 255, 244, 0.3) 1.1%, rgba(20, 54, 41, 0) 108.32%), radial-gradient(32.42% 32.42% at 46.83% 18.92%, rgba(255, 255, 255, 0.147) 0%, rgba(100, 117, 110, 0) 100%) , linear-gradient(0deg, rgba(68, 104, 90, 0.44), rgba(68, 104, 90, 0.44)), url(depositphotos_42701011-stock-photo-frosted-glass-texture.webp); }