* {
  margin: 0;
  font-family: 'Montserrat';
  font-size: 18px;
  font-style: normal;
}

body {
  color: #F5F5F5;
}

html {
  cursor: url("../img/cursor.png") 25 25, default;
}

.mycursor {
  cursor: url("../img/cursorBig.png") 50 50, auto;
}

h1 {
  padding-top: 100px;
  padding-left: 100px;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 60px;
  position: absolute;
  top: 0;
  left: 250px;
  z-index: 12234;
}

.main__Wrapper {
  max-width: 1440px;
  height: 882px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  background-color: #8DBDBA;
  -webkit-transition-duration: 1500ms;
       -o-transition-duration: 1500ms;
          transition-duration: 1500ms;
}

.main__Wrapper .ImageBg {
  opacity: 5%;
  width: 100%;
}

.no-webp .main__Wrapper .union {
  background: -o-linear-gradient(318.71deg, rgba(225, 255, 244, 0.3) 1.1%, rgba(20, 54, 41, 0) 108.32%), -o-radial-gradient(46.83% 18.92%, 32.42% 32.42%, rgba(255, 255, 255, 0.147) 0%, rgba(100, 117, 110, 0) 100%) , -o-linear-gradient(bottom, rgba(68, 104, 90, 0.44), rgba(68, 104, 90, 0.44)), url(depositphotos_42701011-stock-photo-frosted-glass-texture.jpg); }

.no-webp .main__Wrapper .union {
  background: linear-gradient(131.29deg, rgba(225, 255, 244, 0.3) 1.1%, rgba(20, 54, 41, 0) 108.32%), radial-gradient(32.42% 32.42% at 46.83% 18.92%, rgba(255, 255, 255, 0.147) 0%, rgba(100, 117, 110, 0) 100%) , linear-gradient(0deg, rgba(68, 104, 90, 0.44), rgba(68, 104, 90, 0.44)), url(depositphotos_42701011-stock-photo-frosted-glass-texture.jpg); }

.main__Wrapper .union {
  position: absolute;
  width: 282.76px;
  height: 282.76px;
  left: 431px;
  top: 57.26px;
  z-index: 123;
  background-blend-mode: normal, normal, normal, multiply;
  -webkit-box-shadow: 8px 24px 60px rgba(21, 53, 30, 0.1), inset 2.29395px 2.29395px 2.29395px rgba(73, 100, 87, 0.05);
          box-shadow: 8px 24px 60px rgba(21, 53, 30, 0.1), inset 2.29395px 2.29395px 2.29395px rgba(73, 100, 87, 0.05);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  overflow: hidden;
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 100%;
  -webkit-transform: rotate(-20.99deg);
      -ms-transform: rotate(-20.99deg);
          transform: rotate(-20.99deg);
}

.no-webp .main__Wrapper .union_2 {
  background: -o-linear-gradient(318.71deg, rgba(225, 255, 244, 0.3) 1.1%, rgba(20, 54, 41, 0) 108.32%), -o-radial-gradient(46.83% 18.92%, 32.42% 32.42%, rgba(255, 255, 255, 0.147) 0%, rgba(100, 117, 110, 0) 100%) , -o-linear-gradient(bottom, rgba(68, 104, 90, 0.44), rgba(68, 104, 90, 0.44)), url(depositphotos_42701011-stock-photo-frosted-glass-texture.jpg); }

.no-webp .main__Wrapper .union_2 {
  background: linear-gradient(131.29deg, rgba(225, 255, 244, 0.3) 1.1%, rgba(20, 54, 41, 0) 108.32%), radial-gradient(32.42% 32.42% at 46.83% 18.92%, rgba(255, 255, 255, 0.147) 0%, rgba(100, 117, 110, 0) 100%) , linear-gradient(0deg, rgba(68, 104, 90, 0.44), rgba(68, 104, 90, 0.44)), url(depositphotos_42701011-stock-photo-frosted-glass-texture.jpg); }

.main__Wrapper .union_2 {
  position: absolute;
  width: 330.66px;
  height: 330.66px;
  left: 1152px;
  top: 684.42px;
  background-blend-mode: normal, normal, normal, multiply;
  -webkit-box-shadow: 8px 24px 60px rgba(21, 53, 30, 0.1), inset 2.29395px 2.29395px 2.29395px rgba(73, 100, 87, 0.05);
          box-shadow: 8px 24px 60px rgba(21, 53, 30, 0.1), inset 2.29395px 2.29395px 2.29395px rgba(73, 100, 87, 0.05);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  /* Note: backdrop-filter has minimal browser support */
  overflow: hidden;
  border-radius: 100%;
  -webkit-transform: rotate(-20.99deg);
      -ms-transform: rotate(-20.99deg);
          transform: rotate(-20.99deg);
}

.no-webp .main__Wrapper .union_3 {
  background: -o-linear-gradient(318.71deg, rgba(225, 255, 244, 0.3) 1.1%, rgba(20, 54, 41, 0) 108.32%), -o-radial-gradient(46.83% 18.92%, 32.42% 32.42%, rgba(255, 255, 255, 0.147) 0%, rgba(100, 117, 110, 0) 100%) , -o-linear-gradient(bottom, rgba(68, 104, 90, 0.44), rgba(68, 104, 90, 0.44)), url(depositphotos_42701011-stock-photo-frosted-glass-texture.jpg); }

.no-webp .main__Wrapper .union_3 {
  background: linear-gradient(131.29deg, rgba(225, 255, 244, 0.3) 1.1%, rgba(20, 54, 41, 0) 108.32%), radial-gradient(32.42% 32.42% at 46.83% 18.92%, rgba(255, 255, 255, 0.147) 0%, rgba(100, 117, 110, 0) 100%) , linear-gradient(0deg, rgba(68, 104, 90, 0.44), rgba(68, 104, 90, 0.44)), url(depositphotos_42701011-stock-photo-frosted-glass-texture.jpg); }

.main__Wrapper .union_3 {
  position: absolute;
  width: 222.85px;
  height: 222.85px;
  left: 100px;
  top: 696.81px;
  background-blend-mode: normal, normal, normal, multiply;
  -webkit-box-shadow: 8px 24px 60px rgba(21, 53, 30, 0.1), inset 2.29395px 2.29395px 2.29395px rgba(73, 100, 87, 0.05);
          box-shadow: 8px 24px 60px rgba(21, 53, 30, 0.1), inset 2.29395px 2.29395px 2.29395px rgba(73, 100, 87, 0.05);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  /* Note: backdrop-filter has minimal browser support */
  overflow: hidden;
  border-radius: 100%;
  -webkit-transform: rotate(-20.99deg);
      -ms-transform: rotate(-20.99deg);
          transform: rotate(-20.99deg);
}

.main__Wrapper .b {
  position: absolute;
  width: 773.02px;
  height: 547.04px;
  left: 462px;
  top: 149px;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.4) 70.66%, rgba(51, 51, 51, 0.643) 90.82%, rgba(0, 0, 0, 0.94) 102.78%), -o-linear-gradient(334.49deg, #333333 0%, #596368 53.13%, #333333 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 70.66%, rgba(51, 51, 51, 0.643) 90.82%, rgba(0, 0, 0, 0.94) 102.78%), linear-gradient(115.51deg, #333333 0%, #596368 53.13%, #333333 100%);
  border: 1.54049px solid #333333;
  border-radius: 18.4858px;
}

.main__Wrapper .notebook__Screen {
  position: absolute;
  left: 474.99px;
  top: 159.64px;
}

.main__Wrapper .notebook__Screen .image_One {
  position: absolute;
  -webkit-transition-duration: 300ms;
       -o-transition-duration: 300ms;
          transition-duration: 300ms;
  left: 0;
  top: 5px;
  -webkit-transform: rotate(0.57deg);
      -ms-transform: rotate(0.57deg);
          transform: rotate(0.57deg);
}

.main__Wrapper .notebook__Screen .image_Two {
  position: absolute;
  -webkit-transition-duration: 300ms;
       -o-transition-duration: 300ms;
          transition-duration: 300ms;
  top: 4px;
  width: 752px;
  left: 0;
  padding-top: 5px;
}

.main__Wrapper .notebook__Screen .left {
  position: absolute;
  left: -800px;
  opacity: 0;
  -webkit-transition-duration: 1500ms;
       -o-transition-duration: 1500ms;
          transition-duration: 1500ms;
}

.main__Wrapper .notebook__Keywords {
  position: absolute;
  width: 1017.27px;
  height: 36.42px;
  left: 342.98px;
  top: 687.22px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(102, 102, 102, 0.3)), color-stop(50%, rgba(102, 102, 102, 0.3)), color-stop(54.17%, rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0.3))), -webkit-gradient(linear, right top, left top, from(#212121), color-stop(50%, #555555), to(#212121));
  background: -o-linear-gradient(top, rgba(102, 102, 102, 0.3) 0%, rgba(102, 102, 102, 0.3) 50%, rgba(0, 0, 0, 0.15) 54.17%, rgba(0, 0, 0, 0.3) 100%), -o-linear-gradient(right, #212121 0%, #555555 50%, #212121 100%);
  background: linear-gradient(180deg, rgba(102, 102, 102, 0.3) 0%, rgba(102, 102, 102, 0.3) 50%, rgba(0, 0, 0, 0.15) 54.17%, rgba(0, 0, 0, 0.3) 100%), linear-gradient(270deg, #212121 0%, #555555 50%, #212121 100%);
  border-radius: 0 0 30% 30%;
}

.main__Wrapper .notebook__Keywords .keywords__button {
  position: absolute;
  width: 153.45px;
  height: 17.25px;
  left: 432px;
  top: 0px;
  background: -webkit-gradient(linear, left top, right top, from(#333333), color-stop(13.02%, rgba(51, 51, 51, 0.42)), color-stop(93.23%, rgba(51, 51, 51, 0.118947)), to(rgba(51, 51, 51, 0.83))), -webkit-gradient(linear, left top, left bottom, from(#999999), color-stop(15.1%, #777777), color-stop(60.94%, #444444), color-stop(82.29%, #333333), to(#222222)), #C4C4C4;
  background: -o-linear-gradient(left, #333333 0%, rgba(51, 51, 51, 0.42) 13.02%, rgba(51, 51, 51, 0.118947) 93.23%, rgba(51, 51, 51, 0.83) 100%), -o-linear-gradient(top, #999999 0%, #777777 15.1%, #444444 60.94%, #333333 82.29%, #222222 100%), #C4C4C4;
  background: linear-gradient(90deg, #333333 0%, rgba(51, 51, 51, 0.42) 13.02%, rgba(51, 51, 51, 0.118947) 93.23%, rgba(51, 51, 51, 0.83) 100%), linear-gradient(180deg, #999999 0%, #777777 15.1%, #444444 60.94%, #333333 82.29%, #222222 100%), #C4C4C4;
  border-radius: 0px 0px 77.0243px 77.0243px;
}

.main__Wrapper .notebook_shadow {
  position: absolute;
  width: 587.15px;
  height: 13.7px;
  left: 349.36px;
  top: 746.29px;
  background: #000000;
  -webkit-filter: blur(27.4088px);
          filter: blur(27.4088px);
}

.main__Wrapper .pop {
  position: absolute;
  width: 668px;
  height: 432px;
  left: 100px;
  top: 350px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 37, 23, 0.3)), to(rgba(0, 37, 23, 0.3)));
  background: -o-linear-gradient(bottom, rgba(0, 37, 23, 0.3), rgba(0, 37, 23, 0.3));
  background: linear-gradient(0deg, rgba(0, 37, 23, 0.3), rgba(0, 37, 23, 0.3));
  background-blend-mode: normal, multiply;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  z-index: 100;
  border: 0.5px solid rgba(64, 89, 80, 0.5);
  -webkit-box-shadow: inset 0.860527px 0.860527px 0.860527px rgba(53, 74, 66, 0.2);
          box-shadow: inset 0.860527px 0.860527px 0.860527px rgba(53, 74, 66, 0.2);
}

.main__Wrapper .pop .pop__ImageBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 5%;
  z-index: 12;
  pointer-events: none;
}

.main__Wrapper .pop .pop__wrapper {
  padding: 20px;
}

.main__Wrapper .pop .pop__wrapper h2 {
  margin-bottom: 16px;
  font-size: 32px;
  line-height: 40px;
  font-weight: 500;
}

.main__Wrapper .pop .pop__wrapper p {
  margin-bottom: 20px;
  line-height: 26px;
}

.main__Wrapper .pop .pop__wrapper button {
  width: 48px;
  height: 48px;
  background: none;
  border: 1px solid hsla(0, 0%, 96%, 0.5);
  z-index: 1;
  margin-bottom: 20px;
}

.main__Wrapper .pop .pop__wrapper button:hover {
  border: 1px solid #F5F5F5;
}

.main__Wrapper .pop .pop__wrapper .mycursor-left {
  background-image: url(../img/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 16px;
}

.main__Wrapper .pop .pop__wrapper .mycursor-right {
  background-image: url(../img/VectorR.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.main__Wrapper .pop .pop__Tabs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  border: solid 1px rgba(226, 226, 226, 0.5);
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: left;
  height: 94px;
}

.main__Wrapper .pop .pop__Tabs ul li {
  list-style-type: none;
  padding-top: 15px;
  padding-left: 0px;
}

.main__Wrapper .pop .pop__Tabs ul li p {
  font-size: 20px;
  margin: 0;
  line-height: 20px;
}

.main__Wrapper .pop .pop__Tabs ul .p_smallLetters {
  font-size: 13px;
}

.main__Wrapper .pop .pop__Tabs ul .vertical {
  width: 1px;
  height: auto;
  background-color: rgba(226, 226, 226, 0.5);
  padding: 0;
}

.red {
  background-color: #8675BA;
  -webkit-transition-duration: 1500ms;
       -o-transition-duration: 1500ms;
          transition-duration: 1500ms;
}

.webp .main__Wrapper .union { background: -o-linear-gradient(318.71deg, rgba(225, 255, 244, 0.3) 1.1%, rgba(20, 54, 41, 0) 108.32%), -o-radial-gradient(46.83% 18.92%, 32.42% 32.42%, rgba(255, 255, 255, 0.147) 0%, rgba(100, 117, 110, 0) 100%) , -o-linear-gradient(bottom, rgba(68, 104, 90, 0.44), rgba(68, 104, 90, 0.44)), url(depositphotos_42701011-stock-photo-frosted-glass-texture.webp); }

.webp .main__Wrapper .union { background: linear-gradient(131.29deg, rgba(225, 255, 244, 0.3) 1.1%, rgba(20, 54, 41, 0) 108.32%), radial-gradient(32.42% 32.42% at 46.83% 18.92%, rgba(255, 255, 255, 0.147) 0%, rgba(100, 117, 110, 0) 100%) , linear-gradient(0deg, rgba(68, 104, 90, 0.44), rgba(68, 104, 90, 0.44)), url(depositphotos_42701011-stock-photo-frosted-glass-texture.webp); }

.webp .main__Wrapper .union_2 { background: -o-linear-gradient(318.71deg, rgba(225, 255, 244, 0.3) 1.1%, rgba(20, 54, 41, 0) 108.32%), -o-radial-gradient(46.83% 18.92%, 32.42% 32.42%, rgba(255, 255, 255, 0.147) 0%, rgba(100, 117, 110, 0) 100%) , -o-linear-gradient(bottom, rgba(68, 104, 90, 0.44), rgba(68, 104, 90, 0.44)), url(depositphotos_42701011-stock-photo-frosted-glass-texture.webp); }

.webp .main__Wrapper .union_2 { background: linear-gradient(131.29deg, rgba(225, 255, 244, 0.3) 1.1%, rgba(20, 54, 41, 0) 108.32%), radial-gradient(32.42% 32.42% at 46.83% 18.92%, rgba(255, 255, 255, 0.147) 0%, rgba(100, 117, 110, 0) 100%) , linear-gradient(0deg, rgba(68, 104, 90, 0.44), rgba(68, 104, 90, 0.44)), url(depositphotos_42701011-stock-photo-frosted-glass-texture.webp); }

.webp .main__Wrapper .union_3 { background: -o-linear-gradient(318.71deg, rgba(225, 255, 244, 0.3) 1.1%, rgba(20, 54, 41, 0) 108.32%), -o-radial-gradient(46.83% 18.92%, 32.42% 32.42%, rgba(255, 255, 255, 0.147) 0%, rgba(100, 117, 110, 0) 100%) , -o-linear-gradient(bottom, rgba(68, 104, 90, 0.44), rgba(68, 104, 90, 0.44)), url(depositphotos_42701011-stock-photo-frosted-glass-texture.webp); }

.webp .main__Wrapper .union_3 { background: linear-gradient(131.29deg, rgba(225, 255, 244, 0.3) 1.1%, rgba(20, 54, 41, 0) 108.32%), radial-gradient(32.42% 32.42% at 46.83% 18.92%, rgba(255, 255, 255, 0.147) 0%, rgba(100, 117, 110, 0) 100%) , linear-gradient(0deg, rgba(68, 104, 90, 0.44), rgba(68, 104, 90, 0.44)), url(depositphotos_42701011-stock-photo-frosted-glass-texture.webp); }